<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" routerLink="app/home" class="brand-logo para">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li  routerLinkActive="active"><a class="para" routerLink="app/home">Home</a></li>
      <li routerLinkActive="active"><a class="para" routerLink="app/myAccount">Mon Compte</a></li>
      <li routerLinkActive="active"><a routerLink="app/login">Connexion</a></li>
      <li routerLinkActive="active"><a routerLink="app/register">Inscription</a></li>
      <li routerLinkActive="active"><a class="dat" routerLink="app/annonce/new">Créer une Annonce</a></li>
      <li><a id="para" class="waves-effect waves-light btn-small  red darken-3"><i class="material-icons right">lock</i>Déconnexion</a></li>
    </ul>
     <!--Liste pour mobile et tablette-->
    <ul id="nav-mobile" class="sidenav">
      <li routerLinkActive="active"><a class="para"routerLink="app/home">Home<i class="material-icons">home</i></a></li>
      <li routerLinkActive="active"><a class="para" routerLink="app/myAccount">Mon Compte<i class="material-icons">person_pin_circle</i></a></li>
      <li routerLinkActive="active"><a routerLink="app/login">Connexion<i class="material-icons">https</i></a></li>
      <li routerLinkActive="active"><a routerLink="app/register">Inscription<i class="material-icons">person</i></a></li>
      <li routerLinkActive="active"><a routerLink="app/annonce/new">Créer une Annonce<i class="material-icons">filter</i></a></li>
      <li><a id="para" class="waves-effect waves-light btn-small  red darken-3"><i class="material-icons right">power_settings_new</i>Déconnexion</a></li>
    </ul>
    <a routerLink="/app/home" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

