<div class="container">
<div class="row">
    <div class="col s9 m7 offset-m2">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/office.jpg">
          </div>
          <div class="card-content">
            <h5>{{titre}}</h5>
            <p>{{ville}}</p>
          </div>
        </div>
      </div>
      <!-- Formulaire de la méssagerie -->
      <div class="col s3 m3">
              <div class="card-panel white">
                  <span class="card-title">Message</span><hr> <br>
                  <div class="row">
                      <form class="col s12">
                        <div class="row">
                          <div class="input-field col s12">
                            <i class="material-icons prefix">title</i>
                            <input id="libelle" type="text" class="validate">
                            <label for="libelle">Libellé</label>
                          </div>
                          <div class="input-field col s12">
                            <i class="material-icons prefix">chat</i>
                            <input id="message" type="tel" class="validate">
                            <label for="message">Message</label>
                          </div>
                          <div class="input-field col s12">
                            <button style="width:100%;" class="btn waves-effect waves-light" type="submit"><i class="material-icons">send</i></button>
                            </div>
                        </div>
                      </form>
                    </div>
              </div>
        </div>
    </div>
</div>
